/* game */
/*
body {
    text-align: center;
    margin: 0;
    !*background-image: url(https://sun9-31.userapi.com/impg/_uoBk4W2Uc9lD3LYQN1wYetFdq_NAsqqqZ-Xog/3PX1PyByTyo.jpg?size=1522x856&quality=96&sign=1fe35081451f0a2237526c49dd3cec37&type=album);*!
    !*backdrop-filter: blur(40px);*!
    height: 100%;
}

p {
    margin: 0 0 20px 0;
    font-size: 30px;
    cursor: pointer;
}
*/